extend base
include mixins/video

block content 
    div.video__grid
        each poptato in videos
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato)
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato)
            +video(poptato) 
            +video(poptato) 
            +video(poptato) 
            +video(poptato)
        else 
            li Sorry Nothing Found